@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
body {
  background-color: #BCBCBC;
  color: rgb(0, 0, 0);
}

#store-name{
  font-family: 'Lato', sans-serif;

}